$white-color: #ffffff;
$black-color: #000000;
$blue-color: #409eff;
$green-color: #67c23a;
$red-color: #f56c6c;
$orange-color: #e6a23c;

$text-color1: #1f2d3d;
$text-color2: #606266;
$text-color3: #909399;
$text-color4: #3a8ee6;
$text-color5: #f8f8f8;

$background-color1: #f8f8f8;
$background-color2: #545c64;
$background-color3: #ecf5ff;
$background-color4: #2d2e2c;

$border-color1: #dcdfe6;
$border-color2: #c6e2ff;
$border-color3: #3a8ee6;

$scrollbar-color2: #6c6d6c;

$scrollbar-hover-color2: #969796;

$border1: 1px solid #dcdfe6;
$border2: 1px solid #ebeef5;
